In [ ]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston 
from sklearn.model_selection import train_test_split
import random
import math

In [ ]:
boston = load_boston()

In [ ]:
boston_data = pd.DataFrame(boston.data) #just to visualise

In [ ]:
boston_data.columns = boston.feature_names #all the features for a data point
boston_data['PRICE'] = boston.target #y values for that x

In [ ]:
boston_data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  PRICE
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [ ]:
x = boston.data
y = boston.target

In [ ]:
weights = np.random.rand(len(boston.feature_names))
bias = random.random()

In [ ]:
print(len(weights))
print(len(x[5]))
print(len(y)) #number of data points
print(bias)

13
13
506
0.7327010772989632

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
print(len(x_train))
print(len(y_train))
print(len(x_test))
print(len(y_test))

404
404
102
102

In [ ]:
print(weights)
print(bias)

[0.44692485 0.80433347 0.74015275 0.88114279 0.70330377 0.41738128
 0.83660243 0.38854468 0.1647814  0.15039418 0.03189962 0.48489435
 0.71182286]
0.7327010772989632

In [ ]:
def sum(x,w):
  return round(np.dot(x,w),8)

In [ ]:
epochs = 0
eta = 0.001
while epochs<1000:
  loss = 0.0
  for i in range(len(x_train)):
    yhat = sum(x_train[i],weights) + bias
    diff = round(y_train[i]-yhat,8)
    loss = loss + math.pow(diff,2)/len(x_train)
    weights = weights - (eta*(2/len(x_train))*sum(x_train[i],weights)*x_train[i])
    np.round(weights, 8)
    bias = round(bias - (eta*(2/len(x_train))*sum(x_train[i],weights)),8)
  loss = round(loss,4)
  epochs += 1
  if epochs == 1: 
    print("Initial loss: ", loss)
  elif epochs == 1000:
    print("Final loss: ", loss)

Initial loss:  11162.223
Final loss:  559.7873